body {
    background-image: url(images/outerSpace.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: black;
    border: 2px dotted silver;
    border-radius: 50px;
    color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15rem;
    margin-right: 15rem;
    opacity: 0.6;
    text-align: center;
}

.astronaut {
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: noGravity;
    border-radius: 50px;
    bottom: 1rem;
    opacity: 0.4;
    position: fixed;
    width: 10%;
}

@keyframes noGravity {
    0%, 100% {left: 2rem; bottom: 1rem;}
    50% {left: 2rem; bottom: 3rem;}
}